* {
	border: none;
	font-family: "PxPlus IBM VGA 9x16";
	font-size: 16px;
	min-height: 16px;
	border-radius: 12px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 12px;
	margin-bottom: 0px;
	padding-left: 12px;
	padding-right: 12px;
	transition: none;
	color: transparent;
	background: transparent;
}
 
#cava {
	margin-top: 12px;
	margin-left: 12px;
	margin-right: 6px;
	margin-bottom: 12px;
	background-color: #282a36;
	transition: none;
	box-shadow: 0 0 4px #282a36;
}

#workspaces {
	margin-top: 12px;
	margin-left: 12px;
	margin-right: 6px;
	margin-bottom: 12px;
	background-color: #282a36;
	transition: none;
	box-shadow: 0 0 4px #282a36;
}

#workspaces button {
	transition: none;
	color: #f8f8f2;
	background: transparent;
	font-size: 16px;
}

#workspaces button.active {
	color: #fabd2f;
}

#workspaces button:hover {
	transition: none;
	box-shadow: none;
	text-shadow: none;
	color: #b8bb26;
}

#battery { margin-top: 12px;
	margin-right: 6px;
	margin-bottom: 12px;
	margin-left: 6px;
	padding-left: 6px;
	padding-right: 16px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
	box-shadow: 0 0 4px #282a36;
}

@keyframes charging {
	to {
		background: #78740e;
		color: #f8f8f2;
	}
}

@keyframes blink {
	to {
		background: #cc241d;
		color: #f8f8f2;
	}
}

#battery.charging, #battery.plugged {
	background: #282a36;
	color: #f8f8f2;
	animation-name: charging;
	animation-duration: 1s;
	animation-timing-function: steps(24);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#battery.full:not(.charging) {
	background: #78740e;
	color: #f8f8f2;
}

#battery.critical:not(.charging) {
	background: #282a36;
	color: #f8f8f2;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
 
#network {
	margin-top: 12px;
	margin-right: 6px;
	margin-bottom: 12px;
	margin-left: 6px;
	padding-left: 6px;
	padding-right: 16px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
	box-shadow: 0 0 4px #282a36;
}

#pulseaudio {
	margin-top: 12px;
	margin-right: 6px;
	margin-left: 6px;
	margin-bottom: 12px;
	padding-left: 6px;
	padding-right: 16px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
	box-shadow: 0 0 4px #282a36;
}

#tray {
	margin-right: 12px;
	margin-top: 12px;
	margin-bottom: 12px;
	margin-left: 6px;
	padding-left: 16px;
	padding-right: 16px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
	box-shadow: 0 0 4px #282a36;
}

#temperature {
	margin-right: 6px;
	margin-left: 6px;
	margin-top: 12px;
	margin-bottom: 12px;
	padding-left: 12px;
	padding-right: 12px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
	box-shadow: 0 0 4px #282a36;
}

#clock {
	margin-top: 12px;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 12px;
	padding-left: 16px;
	padding-right: 16px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
	box-shadow: 0 0 4px #282a36;
}

#backlight {
	margin-top: 12px;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 12px;
	padding-left: 12px;
	padding-right: 12px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
	box-shadow: 0 0 4px #282a36;
}

