* {
	border: none;
	font-family: "PxPlus IBM VGA 9x16";
	font-size: 16px;
	min-height: 16px;
	border-radius: 12px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
	padding-right: 12px;
	transition: none;
	color: transparent;
	background: transparent;
}
 
#workspaces {
	margin-top: 12px;
	margin-left: 12px;
	margin-right: 6px;
	margin-bottom: 12px;
	background-color: #282a36;
	transition: none;
	box-shadow: 0 0 4px #282a36;
}

#workspaces button {
	transition: none;
	color: #f8f8f2;
	background: transparent;
	font-size: 16px;
}

#workspaces button.active {
	color: #fabd2f;
}

#workspaces button:hover {
	transition: none;
	box-shadow: none;
	text-shadow: none;
	color: #b8bb26;
}

#taskbar { margin-top: 12px;
	margin-right: 6px;
	margin-bottom: 12px;
	margin-left: 6px;
	padding-left: 6px;
	padding-right: 16px;
	color: #f8f8f2;
	background: #282a36;
	box-shadow: 0 0 4px #282a36;
}

#battery { margin-top: 12px;
	margin-right: 6px;
	margin-bottom: 12px;
	margin-left: 6px;
	padding-left: 6px;
	padding-right: 16px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
	box-shadow: 0 0 4px #282a36;
}

@keyframes charging {
	to {
		/*background: #78740e;*/
		background-image: linear-gradient(135deg, #78740e, #282a36);
		color: #f8f8f2;
	}
}

@keyframes blink {
	to {
		background-image: linear-gradient(-45deg, #cc241d, #282a36);
		color: #f8f8f2;
	}
}

#battery.charging, #battery.plugged {
	background-image: linear-gradient(-45deg, #282a36, #78740e);
	color: #f8f8f2;
	animation-name: charging;
	animation-duration: 2s;
	animation-timing-function: cubic-bezier(.34,.01,.7,.74) ,steps(24);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#battery.full:not(.charging) {
	/*background: #78740e;*/
	background-image: linear-gradient(-45deg, #282a36, #78740e);
	color: #f8f8f2;
}

#battery.critical:not(.charging) {
	background-image: linear-gradient(-45deg, #282a36, #cc241d);
	color: #f8f8f2;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
 
#network {
	margin-top: 12px;
	margin-right: 6px;
	margin-bottom: 12px;
	margin-left: 6px;
	padding-left: 6px;
	padding-right: 16px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
	box-shadow: 0 0 4px #282a36;
}

#pulseaudio {
	margin-top: 12px;
	margin-right: 6px;
	margin-left: 6px;
	margin-bottom: 12px;
	padding-left: 6px;
	padding-right: 16px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
	box-shadow: 0 0 4px #282a36;
}

#tray {
	margin-right: 12px;
	margin-top: 12px;
	margin-bottom: 12px;
	margin-left: 6px;
	padding-left: 16px;
	padding-right: 16px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
	box-shadow: 0 0 4px #282a36;
}

#temperature {
	margin-right: 6px;
	margin-left: 6px;
	margin-top: 12px;
	margin-bottom: 12px;
	padding-left: 12px;
	padding-right: 12px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
	box-shadow: 0 0 4px #282a36;
}

#clock {
	margin-top: 12px;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 12px;
	padding-left: 16px;
	padding-right: 16px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
	box-shadow: 0 0 4px #282a36;
}

#backlight {
	/*background-image: linear-gradient(to bottom right, #282a36, #928374);*/
	margin-top: 12px;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 12px;
	padding-left: 12px;
	padding-right: 12px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
	box-shadow: 0 0 4px #282a36;
}

